:root {
    --verde-agua: #0A988B;
    --azul-escuro: #1C3645;
    --azul-quase-preto: #061722;
    --cinza-claro: #CAD6DE;
    --branco: #FDFDFD;
    --azul-acinzentado: #112836;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--azul-quase-preto);
    color: var(--branco);
}