.table-responsive{
    border: 0;
    border-radius: 5pt;
}

.table thead {
    background-color: var(--azul-escuro);
    color: var(--branco);
    
}

.btn-novo {
    background-color: var(--verde-agua);
    color: var(--branco);
}

.btn-novo:hover {
    background-color: var(--cinza-claro);
    color: var(--azul-quase-preto);
}

.form-control, .form-select {
    background-color: var(--azul-acinzentado);
    color: var(--branco);
    border: none;
}

.form-control::placeholder {
    color: #ddd;
}